html{
	color:#000;
	background:white;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}

#wrap{
	width:960px;
	margin:0 auto;
	background-color:white;
}

#top{
	width:950px;
	padding:0 15px 10px 0;
}

#top h1{
	color:#888;
	font-size:24px;
	text-align:center;
}

#header{
	width:950px;
	height:30px;
	background-color:black;
	margin-bottom:15px;
}

#header ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

#header ul li{
	float:left;
	text-align:center;
	padding:6px 0 0 0;
}

#header ul li a{
	color:white;
	width:120px;
	padding:0;
	text-align:center;
	text-decoration:none;
	font:bold 14px Tahoma;
	padding:6px 129px 7px 130px;
}

#header ul li a:hover{
	background-color:yellow;
}

#content{
	width:950px;
	min-height:500px;
}

#content_main div.word{
	color:#587;
	font:30px bold;
	text-align:center;
	padding-top:20px;
	margin-bottom:30px;
}

#content img{
	width:250px;
	height:300px;
	display:block;
	margin:0 auto;
}

#content table{
	border-width:0;
	margin:0 auto;
}

#content table th span.info{
	color:#888;
}

#content h1{
	color:blue;
	font-size:20px;
	text-align:center;
}

#content h1 span{
	color:#888;
	font-size:10px;
	text-align:center;
}

#content_info{
	width:950px;
	min-height:500px;
}

#content_info div.word{
	color:#888;
	font:40px bold;
	text-align:center;
	padding-top:20px;
}

#content_info form{
	padding-top:40px;
}

#content_info table{
	border:1px solid;
	margin:0 auto;
}

#content_info table tr td.left{
	text-align:center;
}

#footer{
	color:#888;
	width:950px;
	height:50px;
	text-align:center;
	background-color:#d5dde2;
}
